.btn-dark-green {
    --bs-btn-color: #fff;
    --bs-btn-bg: #066600;
    --bs-btn-border-color: #054a00;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #054b00;
    --bs-btn-hover-border-color: #098600;
    --bs-btn-focus-shadow-rgb: #021900;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #054b00;
    --bs-btn-active-border-color: #098600;
    --bs-btn-active-shadow: #021900;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #265923;
    --bs-btn-disabled-border-color: #21531e;
}

.text-dark-green {
    --bs-text-opacity: 1;
    color: #087c00 !important;
}

.border-dark-green {
    --bs-border-opacity: 1;
    border-color: #066600 !important;
}

.bg-dark-green {
    --bs-bg-opacity: 1;
    background-color: #066600 !important;
}